.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: white;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

@media only screen and (max-width: 300px) {
  .search-bar-container {
    flex-direction: column;
  }
}

.search-bar-container * {
  height: 30px;
  margin: 5px;
}

.search-bar {
  max-width: 100%;
}

.pokeball-animation {
  max-width: 80vw;
}

.pokemon-description-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 80vw;
  width: 500px;
  height: 150px;
  font-family: "Trebuchet MS";
}

.pokemon-description {
  margin: 2px;
}

.pokemon-description label {
  color: #0071b9;
}

.footer {
  position: fixed;
  bottom: 0;
  max-width: 80vw;
}
